// ----------
//
// s-contact-form
//
// styles for our "Book a Session" contact form
//
// ----------

form.contact-form {

  div {
    margin: 0 auto;
    max-width: 40rem;
  }

  label {
    color: $c-accent;
    font: {
      size: .9rem;
      weight: 600;
    }
    letter-spacing: .125em;
    margin-bottom: .25em;
    text-transform: uppercase;

    span {
      font-style: italic;
      text-transform: lowercase;
    }
  }

  input:not([type="submit"]),
  textarea,
  select {
    background-color: $c-grey-light;
    border: {
      color: transparent;
      radius: 0;
    }
    color: $c-accent;
    margin-bottom: 2.25rem;
    max-width: none;
    transition:
      background-color 150ms ease-out,
      color 150ms ease-out;
    width: 100%;

    &:hover {
      background-color: darken($c-white, 5%);
    }

    &:focus,
    &:active {
      background-color: $c-white;
      border-color: $c-accent;
      color: $c-black;
    }
  }

  input:not([type="submit"]),
  textarea {
    padding: .5em .75em;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: {
      image:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgba(34, 85, 119, .75)'></polygon></svg>");
      origin: content-box;
      position: center right;
      repeat: no-repeat;
      size: .5em;
    }
    padding: .6em .75em;
  }

  .contact-submit {
    margin-bottom: 5.063rem;
    text-align: center;
  }

}
