// ----------
//
// s-homepage
//
// scope for the homepage wysiwyg elements we can't directly apply classes to
//
// ----------

.s-homepage {

  h1 {
    font-size: 2.25rem;
    text-shadow: 0 0 .063em $c-grey-dark;

    @include bp($breakpoint__first) {
      font-size: 4rem;
    }
  }
}
