// ----------
//
// c-site-nav
//
// primary site nav styles
//
// ----------

.c-site-nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem .5rem;

  @include bp($breakpoint__menu) {
    align-items: center;
  }

  &__wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }

  &__toggle {
    display: block;

    &.is-toggled {
      background-color: $c-accent;
      color: $c-white;
      margin-bottom: 1rem;
    }

    @include bp($breakpoint__menu) {
      display: none;
    }
  }

  // unfortunately, due to the unique way wordpress is stupid, we have to do a
  // bit of nesting here. forgive me.
  .site-title {
    font: {
      size: 100%;
      weight: 400;
    }
    margin: 0;
  }

  ul {
    display: none;
    align-items: flex-end;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;

    &.is-toggled {
      display: flex;
    }

    @include bp($breakpoint__menu) {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  li + li {
    margin-top: 1rem;

    @include bp($breakpoint__menu) {
      margin: {
        top: 0;
        left: .5rem;
      }
    }
  }

  a:not(.c-site-nav__go-home) {
    border: .063em solid transparent;
    color: $c-accent;
    font-weight: 300;
    letter-spacing: .125em;
    opacity: .85;
    padding: .5em 1em;
    text: {
      decoration: none;
      transform: uppercase;
    }

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: .7;
    }

    body.home & {
      color: $c-white;
    }
  }

  &__go-home img {
    display: inline-block;
    height: auto;
    margin-right: 1rem;
    max-width: 12rem;
    vertical-align: middle;
  }

  .current-menu-item a {
    border-color: $c-accent;
    font-weight: 400;
  }
}
