// ----------
//
// c-testimonials
//
// styles for our testimonial blocks
//
// ----------

.c-testimonial {
  margin: 0 auto;
  padding-bottom: 2.25rem;

  @include bp($breakpoint__first) {
    width: 75%;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  & + & {
    border-top: 1px solid $c-grey-light;
    padding-top: 2.25rem;
  }

  &__investment {
    font: {
      family: $font__main;
      size: .9rem;
      weight: 600;
    }
    letter-spacing: .125em;
    margin-bottom: .25em;
    text-transform: uppercase;
  }

  &__customer {
    font-style: italic;
    opacity: .5;
  }
}
